In [ ]:
import pandas as pd

data = {
    "Employee_ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Employee_Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hank", "Ivy", "Jack"],
    "Salary": [50000, 60000, 55000, 70000, 72000, 65000, 48000, 58000, 75000, 62000],
    "Designation": ["Manager", "Engineer", "Analyst", "HR", "Engineer", "Manager", "Analyst", "HR", "Director", "Engineer"]
}

df_emp = pd.DataFrame(data)

print("Employee DataFrame:")
print(df_emp)

Employee DataFrame:
   Employee_ID Employee_Name  Salary Designation
0          101         Alice   50000     Manager
1          102           Bob   60000    Engineer
2          103       Charlie   55000     Analyst
3          104         David   70000          HR
4          105           Eva   72000    Engineer
5          106         Frank   65000     Manager
6          107         Grace   48000     Analyst
7          108          Hank   58000          HR
8          109           Ivy   75000    Director
9          110          Jack   62000    Engineer

In [ ]:


print("\nDescriptive Statistics for Salary:")
print(df_emp["Salary"].describe())

Descriptive Statistics for Salary:
count       10.000000
mean     61500.000000
std       9119.576014
min      48000.000000
25%      55750.000000
50%      61000.000000
75%      68750.000000
max      75000.000000
Name: Salary, dtype: float64